@font-face {
    font-family: 'bebas';
    src: url('/res/fonts/bebas.ttf');
}

body {
    padding: 0;
    margin: 0;
    font-family: 'bebas';
    display: flex;
}

.a_menuLvl1 {
    background-color: #151515;
    width: 250px;
    min-height: 100vh;
    color: #fff;
    flex-wrap: nowrap;
}

.a_head_menu {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: 24px;
    border-bottom: 1px solid #676767;
}

.a_element_menu {
    width: 90%;
    text-align: left;
    padding: 20px 0 15px 10%;
    font-size: 18px;
    border-bottom: 1px solid #323232;
}

.a_main {
    flex-wrap: nowrap;
}

.a_topnav {
    width: calc(100vw - 250px);
    height: 84px;
    background-color: rgb(195, 243, 255);
    border-bottom: 1px solid #999;
}

.a_top_nav_line1 {
    height: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
}

.a_top_nav_line2 {
    height: 36px;
    display: flex;
    flex-direction: row-reverse;
}

.a_clear_cash {
    width: 48px;
    margin: 0 10px;
    border-radius: 3px;
    padding: 10px;
    margin: 5px 10px;
}

.a_go_website {
    width: 48px;
    margin: 0 10px;
    border-radius: 3px;
    padding: 10px;
    margin: 5px 10px;
}

.a_login {
    width: 238px;
    margin: 0 10px;
    border: 1px solid #999;
    border-radius: 30px;
    padding: 10px;
    margin: 5px 10px;
    justify-content: flex-end;
}

.a_flex_1 {
    flex-grow: 1;
}

.a_flex_2 {
    flex-grow: 2;
}

.a_flex_3 {
    flex-grow: 3;
}

.a_flex_4 {
    flex-grow: 4;
}

.a_flex_5 {
    flex-grow: 5;
}

.a_flex_6 {
    flex-grow: 6;
}

.a_flex_7 {
    flex-grow: 7;
}

.a_flex_8 {
    flex-grow: 8;
}

.a_flex_9 {
    flex-grow: 9;
}

.a_flex_10 {
    flex-grow: 10;
}

.a_top_nav_el_def {
    padding: 5px 10px;
    margin: 5px 10px;
    min-width: 100px;
    border-radius: 30px;
    border: 1px solid #999;
    text-align: center;
}